body {
    font-family: Arial, sans-serif;
}

.bookshelf-userdetails-friendslist {
   display: flex;
   background: #ecf6fd;
   font-family: Trebuchet MS, sans-serif;
}

.bookshelf {
    height: 600px;
    background: #ecf6fd; 
    border: 3px solid #ededed; 
    font-family: Trebuchet MS, sans-serif;
}

.bookshelf-currentlyreading-bookclubs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 300px;
    background: #ecf6fd; 
}

.currently-reading {
    flex: 1; /* Distribute available space equally among flex items */
    margin-right: 20px; /* Increased margin for desktop */
    padding-left: 40px; /* Increased padding for desktop */
    background: #ecf6fd; 
}

.user-details,
.friends-list,
.currently-reading,
.book-clubs {
    flex: 1;
    /* Distribute available space equally among flex items */
    margin-right: 20px;
    /* Increased margin for desktop */
    padding-left: 40px;
    /* Increased padding for desktop */
    background: #ecf6fd; 
}